.newsListItem {
    border-bottom: 1px solid #dadada;
    padding: 0 0 1.5rem;
}

.newsListItem__title {
    color: #223062;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.5em;
    margin-bottom: .75rem;
    text-decoration: none;
}

.newsListItem__title:visited {
    color: #8366a6;
}

.newsListItem__summary {
    font-size: .85rem;
    line-height: 1.5em;
    margin-bottom: 1rem;
}

.newsListItem__meta {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.newsListItem__date {
    display: inline-block;
    font-size: .75rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.newsListItem__tag {
    background-color: #3399ff;
    border-radius: 1rem;
    color: #fff;
    display: inline-block;
    font-size: .75rem;
    line-height: 1em;
    padding: .25rem .5rem .3rem;
    vertical-align: middle;
}