.newsListItem {
    border-bottom: 1px solid #dadada;
    border: none;
    background: #f0f0f0;
    padding: 1.25rem 1rem 1.5rem;
}

.newsListItem__title {
    color: #223062;
    display: block;
    font-weight: 600;
    letter-spacing: .01em;
    line-height: 1.5em;
    margin: 0 0 .75rem;
    text-decoration: none;
}

.newsListItem__title:visited {
    color: #8366a6;
}

.newsListItem__summary {
    font-size: .85rem;
    line-height: 1.5em;
    margin-bottom: 1rem;
}

.newsListItem__date {
    color: #555;
    display: block;
    font-size: .75rem;
    margin-bottom: 1.25em;
}

.newsListItem__tag {
    background-color: #5a6979;
    color: #fff;
    display: inline-block;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1em;
    padding: .3rem .5rem;
    text-transform: uppercase;
}

.newsListItem__tag--yle_lappi,
.newsListItem__tag--yle_rovaniemi {
    background-color: #03a1b2;
}

.newsListItem__tag--rovaniemenkaupunki {
    background-color: #e20d18;
}

.newsListItem__tag--lapinkansa_lappi {
    background-color: #0075bf;
}

.newsListItem__tag--lapinpoliisilaitos {
    background-color: #06377b;
}