.newsListItem {
    border-bottom: 1px solid #dadada;
    padding: 0 0 24px;
}

.newsListItem__title {
    color: #223062;
    display: block;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.35em;
    margin-bottom: .75em;
    text-decoration: none;
}

.newsListItem__title:visited {
    color: #8366a6;
}

.newsListItem__meta {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.newsListItem__date {
    display: inline-block;
    font-size: .75rem;
    margin-right: 16px;
    vertical-align: middle;
}

.newsListItem__tag {
    background-color: #3399ff;
    border-radius: 16px;
    color: #fff;
    display: inline-block;
    font-size: .75rem;
    line-height: 1em;
    padding: 3px 8px 5px;
    vertical-align: middle;
}